<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mannajob.mapper.CommMapper">
	<select id="getList" resultType="com.mannajob.domain.CommVO">
		select cm.b_num, cm.cm_num, cm.m_id as cm_m_id, cm.cm_contents, cm.cm_wdate, cm.cm_udate, cm.cm_secret, cm.cm_del
				, cms.cms_num, b.m_id as b_m_id, cms.cms_contents, cms.cms_wdate, cms.cms_udate, cms.cms_del
		from comm cm, comm_sub cms, b_match b
		where cm.cm_num = cms.cm_num(+) 
		and b.b_num = cm.b_num
		and b.b_num = #{b_num}
		order by cm.cm_num desc
	</select>
	
	<select id="readComm" resultType="com.mannajob.domain.CommVO">
		select cm.b_num, cm.cm_num, cm.m_id as cm_m_id, cm.cm_contents, cm.cm_wdate, cm.cm_udate, cm.cm_secret, cm.cm_del
		from comm cm, b_match b 
		where b.b_num = cm.b_num
		and cm.cm_del = 'N'
		and b.b_num = #{b_num}
		order by cm.cm_num desc
	</select>
	
	<select id="readCommSub" resultType="com.mannajob.domain.CommVO">
		select cm.b_num, cm.cm_num, cm.m_id as cm_m_id, cm.cm_secret, cm.cm_del
				, cms.cms_num, b.m_id as cms_m_id, cms.cms_contents, cms.cms_wdate, cms.cms_udate, cms.cms_del
		from comm cm, comm_sub cms, b_match b 
		where cm.cm_num = cms.cm_num 
		and b.b_num = cm.b_num
		and cms.cms_del = 'N'
		and cm.cm_num = #{cm_num}
		order by cms.cms_num desc
	</select>
	
	<insert id="insert">
		insert into comm (cm_num, b_num, m_id, cm_contents, cm_secret) 
				values (seq_cm.nextval, #{b_num}, #{cm_m_id}, #{cm_contents}, #{cm_secret})
	</insert>
	
	<insert id="insertSub">
		insert into comm_sub (cms_num, cm_num, cms_contents) 
        		values (seq_cms.nextval, #{cm_num}, #{cms_contents})
	</insert>
	
	<update id="delete">
		update comm set 
		    cm_udate = sysdate
		    , cm_del = 'Y'
		where cm_num = #{cm_num}
	</update>
	
	<update id="deleteSub">
		update comm_sub set 
		    cms_udate = sysdate
		    , cms_del = 'Y' 
		where cms_num = #{cms_num}
	</update>
	
	<update id="update">
		update comm set 
		    cm_udate = sysdate
		    , cm_contents = #{cm_contents}
		    , cm_secret = #{cm_secret} 
		where cm_num = #{cm_num}
	</update>
	
	<update id="updateSub">
		update comm_sub set 
		    cms_udate = sysdate
		    , cms_contents = #{cms_contents}
		where cms_num = #{cms_num}
	</update>
	
	<select id="chkComm" resultType="int">
		select count(cm.cm_num)
		from comm cm, b_match b 
		where b.b_num = cm.b_num 
		and cm_del = 'N' 
		and b.b_num = #{b_num}
	</select>
	
	<select id="chkCommSub" resultType="int">
		select count(cms.cms_num)
		from comm cm, comm_sub cms, b_match b
		where cm.cm_num = cms.cm_num 
		and b.b_num = cm.b_num 
		and cms.cms_del = 'N' 
		and b.b_num = #{b_num}
	</select>
</mapper>